
<div class="container">

  <div class="row">
    <div class="col-10 mx-auto">
      <div class="wrapper">

        <div class="py-2 desc text-center">

          <h1 class="text-center">Beam Products</h1>
          <p>Simple products just for you.</p>

        </div>

        <div class="content">
          <!-- content here -->
          <div class="product-grid product-grid--flexbox">

            <div *ngIf="allProducts" class="product-grid__wrapper">
              <!-- Product list start here -->

              <!-- Single product -->
              <div *ngFor="let product of allProducts; let i = index " class="product-grid__product-wrapper">
                <div class="product-grid__product">
                  <div class="product-grid__img-wrapper">
                    <img src="{{product.image}}" alt="{{product.name}}" class="product-grid__img" />
                  </div>

                  <span class="product-grid__title">{{product.name}}</span>

                  <div class="text-center">
                    <span class="product-grid__discount">{{product.discount | currency:'NGN':'symbol-narrow'}}</span> &nbsp;
                    <span class="product-grid__price"><del>{{product.price | currency:'NGN':'symbol-narrow'}}</del></span>
                  </div>
                  <div class="product-grid__extend-wrapper">
                    <div class="text-center product-grid__extend">
                      <p class="product-grid__description">{{product.description}}</p>

                      <span *ngIf="!product.isInFavourite" (click)="openSubscriptionModal(subcriptionModal, product)" class="product-grid__btn product-grid__add-to-cart">Add to cart</span>
                      <span class="product-grid__btn product-grid__view">View more</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end Single product -->


            </div>
          </div>
        </div>

        <footer>

        </footer>

      </div>
    </div>
  </div>

</div>

<!-- FAV MODAL -->
<ng-template #subcriptionModal let-modal >
  <form [formGroup]="subscribeFormGroup" (ngSubmit)="onSubmit()" class="user-reg">

    <!--<div class="modal-header">-->
    <div class="d-flex p-3">
      <h5 class="my-0 mr-md-auto modal-title text-center" id="exampleModalLabel">Get Instant notification when this promos favors you by setting your price for <strong>{{selectedProduct?.name}}</strong> </h5>

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="text-center text-info">
      <strong>Current Discount Price: <strong>{{selectedProduct.discount | currency:'NGN':'symbol-narrow'}}</strong></strong>
    </div>
    <div class="modal-body">

      <div *ngIf="!hasRegistered()" class="form-group">
        <label for="recipient-phone" class="col-form-label col-form-label-sm">Phone Number</label>
        <div class="form-row">
          <div class="col">
            <input formControlName="phone" required type="tel" class="form-control" id="recipient-phone">
          </div>
        </div>
        <!--<small class="form-text text-muted"></small>-->
      </div>

      <div class="form-group">
        <label for="recipient-name" class="col-form-label col-form-label-sm">My Price is</label>
        <input formControlName="price" type="number" class="form-control" id="recipient-name" placeholder="0.00" >
      </div>

      <!--<input type="hidden" formControlName="fromAction" value="{{userRegAction}}">-->

    </div>

    <div class="modal-footer">
      <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
      <button [disabled]="!subscribeFormGroup.valid" type="submit" class="btn btn-primary btn-sm p-2">SUBMIT</button>
    </div>

  </form>

</ng-template>
